
body {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: rgb(105, 206, 172);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
  
    grid-gap: 30px;
}

.grid-2-col {
 grid-template-columns: auto auto;
}

.grid-3-col {
   grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-colums {
grid-template-columns: 1fr 1fr 1fr;
}

.card-1 {
    background-color: white;
}

.card-1 h4 {
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    margin-top: 4px;
    margin-left: 10px;
}

.card-1 p {
    margin-left: 12px;
    margin-top: 3px;
}


 
        


.card-2 {
    background-color: white;
}

.card-2 h4 {
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
     margin-top: 4px;
    margin-left: 10px;
}

.card-2 p {
    margin-left: 12px;
    margin-top: 3px;
}


.card-3 {
    background-color: white;
}

.card-3 h4 {
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
     margin-top: 4px;
    margin-left: 10px;

}

.card-3 p {
    margin-left: 12px;
    margin-top: 3px;
}

.btn {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    background-color: rgb(105, 206, 172);

    padding-bottom 16px
padding-left 16px
padding-right 16px
padding-top 16px
text-align center
text-decoration-color rgb(255, 255, 255)
text-decoration-line none
text-decoration-style solid
text-decoration-thickness auto
text-transform uppercase
}

.card-footer {
    padding: 30px;
}


section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}

 .text-center {
    text-align: center;
 }
section.secondary {
    background-color: aliceblue;
}

h1 {
 font-family: "Poppins", sans-serif;
 font-weight: 700;
    font-size: 60px;
    line-height: 1;
    margin: 30px 0;
    text-align: center;
    display: block;
    color: rgb(105, 206, 172);

}


header {
    background-image: linear-gradient(rgba(28, 13, 13, 0.6), rgba(28, 13, 13, 0.6)),
    url('../images/Belgium1.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 260px 0;

}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;

}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;


    letter-spacing: 30x;
    text-transform: uppercase;
    background-color: white;
    text-decoration: none;
    color: rgb(105, 206, 172);
    background: white;
    padding: 16px 32px;
    margin-top: 5px;
    display: inline-block;
}

main {
    background-color: white;
}

main h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: black;
    opacity: 0.8;
    margin: 0;
    margin-bottom: 10px;
}

main h4 {
     font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: black;
    opacity: 0.7;
    margin: 0;
}

main p {
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 1.5;
}

.genth-img {
    
    max-width: 100%;
}


footer {
    color: white;
    background-image: linear-gradient(rgba(17, 3, 3, 0.4), rgba(23, 4, 4, 0.4)),
    url('../images/Belgium-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;

}

footer a {
    color: white;
    opacity: 0.7;
}

@media (max-width: 900px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 25px;
    }
    
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    section {
        padding: 30px;

    }

}