
body {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: aquamarine;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
  
    grid-gap: 30px;
}

.grid-2-col {
 grid-template-columns: auto auto;
}

.grid-3-col {
   grid-template-columns: 1fr 1fr 1fr;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

h1 {
 font-family: "Poppins", sans-serif;
 font-weight: 700;
    font-size: 60px;
    line-height: 1;
    margin: 30px 0;
    text-align: center;
    display: block;
    color: aqua;

}


header {
    background-image: linear-gradient(rgba(28, 13, 13, 0.6), rgba(28, 13, 13, 0.6)),
    url('../images/Belgium1.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 260px 0;

}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;


    letter-spacing: 30x;
    text-transform: uppercase;
    background-color: white;
    text-decoration: none;
    color: rgb(41, 179, 186);
    background: white;
    padding: 16px 32px;
    margin-top: 5px;
    display: inline-block;
}

main {
    background-color: white;
}

main h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: black;
    opacity: 0.8;
    margin: 0;
}

main h4 {
     font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: black;
    opacity: 0.7;
    margin: 0;
}

main p {
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 1.5;
}

.genth-img {
    
    max-width: 100%;
}


footer {
    color: white;
    background-image: linear-gradient(rgba(17, 3, 3, 0.4), rgba(23, 4, 4, 0.4)),
    url('../images/Belgium-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;

}

footer a {
    color: white;
    opacity: 0.7;
}

@media (max-width: 900px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 25px;
    }
    
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    section {
        padding: 30px;

    }

}